<div class="header">
   <div class="grid">
        <div class="logo">
            <a href="/"><img src="/image/logo/logo.png" alt="logo"/></a>
        </div>  
            <ul class="list">
                <li class="item {{ifActive active 'introduction' 'active'}}">
                <a href="/introduction">Giới thiệu</a>
                </li>
                <li class="item {{ifActive active 'calendar' 'active'}}">
                    <a href="/calendar">
                        Công việc
                    </a>
                </li>
                <li class="item {{ifActive active 'scheduel' 'active'}}">
                    <a href="/scheduel">
                        Lên lịch
                    </a>
                </li>
                <li class="item {{ifActive active 'login' 'active'}}">
                    <a href="/login">
                        Đăng nhập
                    </a>
                </li>
                <li class="item {{ifActive active 'register' 'active'}}">
                    <a href="/register">
                        Đăng ký
                    </a>
                </li>
            </ul>  
   </div>
</div>
